<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PrestamosDbConnection"
			 connectionString="Data Source=.DESKTOP-HPAM3LL\SQLEXPRESS;Initial Catalog=PrestamosDB;Integrated Security=True;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
